/* add your CSS here */
img {
    width: 300px;
}

#interesting-fact {
    font-style: italic;
}

.label {
    font-weight: bold;
}

#facts {
    list-style: none;
    padding:0;
}

#container {
    border: 1px solid gray;
    padding: 5px;
    width: 300px;
}

#card {
    border: 1px solid gray;
    padding: 0px 10px;
}

h1 {
    margin-left: 5px;
}